body
 +reg
img
 max-width: 100%
.container
 width: 1170px
 margin: auto
@media (max-width: 1200px)
 .container
  width: 760px
  margin: auto
@media (max-width: 768px)
 .container
  max-width: 580px
  width: 90%
  margin: auto
@media (max-width: 567px)
 .container
  max-width: 420px
  width: 90%
  margin: auto
.button
 border-radius: 10px
 background-color: $main-color
 border: none
 outline: none
 padding: 18px 30px