@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.scrollup {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: #ffd200 url(../img/icons/arrow-up.svg) no-repeat center;
  background-size: 30px;
  border: none;
  outline: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.scrollup_active {
  opacity: 1;
  cursor: pointer;
}

input.invalid {
  border: 1px solid red;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 420px;
    width: 90%;
    margin: auto;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  outline: none;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid orange;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@media (max-width: 420px) {
  .scrollup {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-size: 20px;
  }
}

/* Импорт стилей шапки */
.navbar {
  padding: 7px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-weight: 400;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 9px;
}

.navbar__logo {
  max-width: 155px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    font-weight: 400;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 91px;
  }
}

@media (width: 320px) {
  .navbar .button {
    margin-right: 10px;
    border-radius: 5px;
  }
  .navbar .navbar__button {
    font-size: 10px;
    font-weight: 400;
    padding: 13px 26px 14px 26px;
  }
}

/* Стили для главного экрана */
.hero {
  padding: 51px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__image__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 13px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (width: 320px) {
  .hero {
    padding: 30px 0;
  }
  .hero-text {
    margin-left: 4px;
  }
  .hero-text__title {
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .hero-list__image {
    width: 35px;
    height: 35px;
  }
}

li {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

/* Подключаем стили для блока offer */
a {
  text-decoration: none;
  color: #333333;
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding-top: 52px;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__form {
  width: 495px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  min-height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 31px;
}

.offer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer .wrap .manager__return {
  width: 230px;
  font-size: 15px;
  line-height: 24px;
}

.offer .wrap .tel__return {
  width: 192px;
  font-size: 15px;
  line-height: 24px;
}

.offer .wrap .tel__return .our-tel {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__form {
    width: 100%;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
  .offer .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer .wrap .manager__return {
    line-height: 19px;
    width: 100%;
    margin-bottom: 10px;
  }
  .offer .wrap .tel__return {
    width: 72%;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .offer {
    padding-top: 35px;
  }
  .offer-block {
    margin-left: 3px;
  }
  .offer__title {
    font-size: 18px;
    max-width: 260px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer__input {
    max-width: 275px;
    min-height: 65px;
  }
  .offer__button {
    max-width: 275px;
    min-height: 70px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .offer__form {
    margin-bottom: 20px;
  }
  .offer .wrap .manager__return {
    width: 81%;
    line-height: 21px;
  }
  .offer .wrap .tel__return {
    line-height: 24px;
  }
  .offer .wrap .tel__return a {
    display: block;
  }
  .small {
    display: block;
  }
}

/* Подключаем стили для блока portfolio */
.price {
  padding: 0;
  padding-top: 86px;
}

.price__title {
  margin: auto;
  max-width: 515px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  margin: 50px auto 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e8e8e8;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 38px 0 40px;
}

.card__title {
  margin: 0 0 28px;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  position: relative;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.card__link:hover:after {
  height: 13px;
}

.card__link:after {
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -6px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price {
    padding-top: 52px;
  }
  .price__title {
    font-size: 24px;
  }
  .price__subtitle {
    margin: 27px 0 61px;
    font-size: 14px;
  }
  .card__image {
    max-width: 271px;
    min-height: 171px;
  }
  .card__title {
    margin: 30px 0 15px;
    font-size: 14px;
  }
  .card__text {
    padding: 30px 0;
  }
}

@media (max-width: 610px) {
  .price__card {
    margin: 0 auto 20px;
  }
}

@media (max-width: 360px) {
  .price {
    padding: 0;
  }
  .price__title {
    margin-bottom: 10px;
    max-width: 286px;
    padding-top: 44px;
    font-size: 18px;
    line-height: 22px;
  }
  .price__subtitle {
    margin: 27px 0 58px;
  }
  .price__card {
    margin: 0 auto 32px;
  }
  .card__title {
    margin: 0 0 12px;
  }
  .card__link:after {
    bottom: -3px;
  }
}

/* Подключаем стили для блока price */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
  padding-bottom: 100px;
}

.portfolio__title {
  max-width: 790px;
  margin: auto;
  margin-bottom: 92px;
  line-height: 45px;
  font-size: 30px;
}

.portfolio__title .br {
  display: block;
}

.portfolio__arrows {
  max-width: 120px;
  margin: 68px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .slider {
  margin: 0 -15px;
}

.portfolio .slider__image {
  margin: auto;
}

.slick-slide {
  padding: 0 15px;
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 43px;
    background: #f5f5f5;
  }
  .portfolio-block {
    width: 100%;
    padding-right: 0;
  }
  .portfolio__title {
    margin-bottom: 39px;
    max-width: 280px;
    line-height: 23px;
    font-size: 18px;
  }
  .portfolio .slider__image {
    max-width: 246px;
    min-height: 186px;
  }
  .portfolio__arrows {
    margin: 46px auto 0;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding-bottom: 64px;
  }
}

/* Подключаем стили для блока steps */
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -34px;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 28px;
}

.step__text {
  font-size: 14px;
  max-width: 155px;
  margin: auto;
  line-height: 20px;
}

.step__text .br {
  display: block;
}

.steps {
  padding: 0;
  padding-top: 90px;
  padding-bottom: 97px;
}

.steps__title {
  margin: 36px auto 0;
  max-width: 655px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  margin: 50px 0 68px;
  text-align: center;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 420px) {
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .step__image {
    margin-bottom: 22px;
  }
  .steps {
    padding-top: 0;
  }
  .steps__title {
    margin: 22px auto 0;
    line-height: 22px;
    font-size: 18px;
  }
  .steps__subtitle {
    margin: 24px 0 34px;
    font-size: 14px;
  }
}

/* Подключаем стили для блока brif */
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 50px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 210px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  height: 65px;
  margin-bottom: 15px;
}

.brif__button {
  display: block;
  margin: 15px auto 30px;
  height: 70px;
  width: 100%;
  max-width: 370px;
}

.interview {
  padding-right: 71px;
}

.interview__title {
  margin-top: 20px;
  min-width: 520px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin: 42px 0 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 32px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 390px;
  font-size: 18px;
  line-height: 23px;
}

.form__title {
  margin-top: 15px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.form__subtitle {
  display: block;
  margin: 44px 0 51px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    min-width: auto;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    min-width: auto;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .brif {
    background-size: 100% 49%, cover;
    padding-top: 22px;
    padding-bottom: 34px;
    padding-left: 6px;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    width: 220px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .interview__subtitle {
    margin: 14px 0 37px;
    max-width: 175px;
    font-size: 14px;
  }
  .interview-list__item {
    margin-bottom: 0;
  }
  .interview-list__text {
    max-width: 240px;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .item-one {
    margin-bottom: 22px;
  }
  .item-two {
    margin-bottom: 8px;
  }
  .item-three {
    margin-bottom: 14px;
  }
  .brif__form {
    padding-left: 0;
    margin-top: 94px;
  }
  .brif__input {
    max-width: 275px;
    margin-bottom: 8px;
  }
  .brif__button {
    margin: 2px auto 30px;
    max-width: 275px;
    font-size: 14px;
  }
  .form__title {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 25px;
  }
  .form__subtitle {
    font-size: 14px;
    margin: 0 0 34px;
  }
  .form__description {
    font-size: 14px;
  }
}

/* Подключаем стили модального окна */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1170px;
  width: 90%;
  height: 640px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.modal-dialog__title {
  margin: 30px auto 34px;
  max-width: 320px;
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

.modal-dialog__subtitle {
  margin-bottom: 35px;
  display: block;
  text-align: center;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__input {
  width: 370px;
  min-height: 65px;
  margin-bottom: 15px;
}

.modal__button {
  margin: 15px 0 30px;
  width: 370px;
  min-height: 70px;
}

.modal-tel__return {
  max-width: 295px;
  text-align: center;
  font-size: 15px;
}

.modal-tel__return .our-tel {
  margin-top: 15px;
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.modal-thank {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-thank_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-thank .overlay-thank {
  position: relative;
  margin: auto;
  max-width: 500px;
  width: 90%;
  height: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-thank .overlay-thank__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
    height: 580px;
  }
  .modal-dialog__subtitle {
    margin-bottom: 15px;
  }
  .modal__input {
    max-width: 350px;
    min-height: 35px;
    margin-bottom: 10px;
  }
  .modal__button {
    margin: 10px 0 20px;
    width: 100%;
    min-height: 70px;
  }
  -tel__return {
    max-width: 295px;
  }
}

@media (max-width: 567px) {
  .modal-dialog {
    width: 90%;
    height: 580px;
  }
  .modal__input {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .modal-dialog {
    height: 500px;
  }
  .modal-dialog__title {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .modal-dialog__subtitle {
    margin: 10px 0;
  }
  .modal-tel__return .our-tel {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */